{% extends 'goodnews/base.html' %}

{% block content %}
<div class="text-center">
<h3>Mission Statement</h3>
<p>Our mission and vision for the goodnews club is to ensure that every Nigerian child gets the best and quality education through a religious perspective and via godliness</p>
<p></p>
<h3>Vision</h3>
<p>The vision of the club is to make sure that before the next ten years, every Nigerian child has acquired prompt knowledge about the things of God and the knowledge of Heaven</p>
</div>
{% endblock %}